{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <h3 class="catalogo-precio, font-pixelart" align="left" style="color:#2e82ff ;">Contacto</h3>
    
    <div class="fila" style="color:aliceblue ">
        <div>
            <h4>8 BITsales 
                <br>
                Horarios de atención: Lun a Dom 9-20hs
                <br>
                Gorriti 4026, Palermo
                <br>
                1189, Ciudad Autónoma de Buenos Aires
               
                </h4>
        </div>
        <div style="align-items: end;"><iframe width="300px" height="300" frameborder="0" scrolling="no" marginheight="2" marginwidth="100" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=es&amp;q=Gorriti%204200,%20Argentina+(8biteSales)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/car-satnav-gps/">GPS car tracker</a></iframe></div>
    </div>
    

{% endblock %}