{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <h1> </h1>
    
    <div class="text-center">
    <br>
    
    <img class="box-avatar"  height= "40px" src="{{url}}">
    <br>
    <br>
    
    <h7 class="font-presstart" style="color:beige">Que bueno verte {{user.username}}!</h7>
    </div>
    <br>
    <h3 align="center" class="font-presstart" style="color: #bf3162;">Busca tu juego 8BIT! </h3>
    <br>
    <body>

        <form action="/AppCoder/buscar/" method="GET" align="center"> 
    
        <input type="text" name="nombre" id="nombre" value= "Tetris..." style="font-style: italic" class="box-input">
        
        <button class="btn">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
               
        </form>
    </body>

    <div style="margin-bottom: 20px;"> </div>
    <br>
    <span> </span>
    
    

{% endblock %}