{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <h1> </h1>
    
    
   
    
    <h3 align="center">Busca tu juego!</h3>

    <form action="/AppCoder/buscar/" method="GET" align="center">

        <input type="text" name="nombre" id="nombre">

        <input type="submit" value="Buscar">




    </form>

    <div style="margin-bottom: 20px;"> </div>
    <span> </span>

    {% if juegos %}

    <p>Estamos buscando el: {{nombre}}</p>

    <ul>
	{% for juego in juegos %}
		<li> {{juegos.nombre}} </li>
		<li> {{juegos.precio}} </li>
	{% endfor %}

    </ul>

    {% endif %}

{% endblock %}