{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <h1> </h1>
    
    
   
    
    <h3 align="center" class="catalogo">Busca tu juego!</h3>

    <body>

        <form action="/AppCoder/buscar/" method="GET" align="center"> 
    
        <input type="text" name="nombre" id="nombre" value= "Tetris..." style="font-style: italic" class="box-input">
    
        <input type="submit" value="Buscar" />
        </form>
      </body>

    <div style="margin-bottom: 20px;"> </div>
    <span> </span>
    

{% endblock %}