{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

    <body>
        
    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <h3 class="catalogo" align="center">CATÁLOGO </h3>
        <br>
        <br>
    
        
        {%for juego in juegos %}
        
        <p style="align-items: center;">  
            <div style="align-items: center;">
                <div class="container">
                <h3>
                <li class ="catalogo" align="center">{{juego}}</li>
                {% if juego.imagen %}
                <div align="center"><img src="../../static/AppCoder/assets/img/knight.jpg" alt="" style="width: 20%" ></div>
                <p class ="catalogo" align="center"> <img src="{{juego.imagen.url}}" alt="" style="width:20%"> </p>
                {% endif %}
                </h3>
                </div>
            </div>
        </p>
        
            
        {% endfor %}
     
    </body>

  

{% endblock %}