{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

    <div >
        
    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <h4 class="catalogo-precio, font-pixelart" align="left" style="color:#2e82ff ;"    >CATÁLOGO: </h4>
        <br>
        <br>
    
        
        {%for juego in juegos %}
        
       
            <div class="fila" style="justify-content:space-around;">
                <div   >
                <h5>
                
                
                {% if juego.imagen %}
                
                <p class ="catalogo" align="center"> <img src="{{juego.imagen.url}}" alt="" class= "box" style="width: 300px; height: 180px;"> </p>
                {% endif %}
                <p class ="catalogo, font-pixelart" align="center" style="color:azure ;">{{juego.nombre}}</p>
                <p class ="catalogo-precio" align="center">{{juego.precio}} $</p>
                </h5>
                <!--Agrego boton de compra-->
                <div class="boton-comprar" style="justify-content: center;">
                    <p>COMPRAR</p>
                </div>
                </div>
            </div>
       
        
            
        {% endfor %}
     
    </div>

  

{% endblock %}