{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

    <div >

        
    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <div > 
    <h3 style="color:rgb(255, 255, 255); vertical-align: 13px; font-family: 'Montserrat', sans-serif; font-weight: bolder; font-size: 20px;" align="center"    >CATÁLOGO </h3>
    </div>
        
        <br>
        <br>
 

        {%for juego in juegos %}
        
       
            <div class="fila" style="justify-content:space-around;" >
                <div style="padding-left:21px">
                <h5>
                
                
                {% if juego.imagen %}
                
                <p class ="catalogo" align="center"> <img src="{{juego.imagen.url}}" alt="" class= "box" style="width: 300px; height: 180px;"> </p>
                {% endif %}
                <p class ="catalogo, font-catalogo" align="center" style="color:azure ;">{{juego.nombre}}</p>
                <p class ="catalogo-precio" align="center">$ {{juego.precio}} </p>
                </h5>
                <!--Agrego boton de compra-->
                <div class= "card-footer text-center">
                    <a href="{% url 'carro:agregar' juego.id%}" class="btn btn-success" style="margin-left:52px"> Agregar al carro </a>

                </div>
                <br>
                </div>
            </div>
       
        
            
        {% endfor %}
     
    </div>

  

{% endblock %}