{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% if nombre %}
<div class="catalogo" >
<h1 class="navbar-brand">Ha seleccionado el siguiente juego:</h1>

<br>


<ul>
{% for juego in nombre %}
    <div class="navbar-brand" >
    <li style="font-weight:bold"> <u> NOMBRE</u>: &nbsp &nbsp {{juego.nombre}} </li>
    <li> <u> PRECIO </u>: &nbsp &nbsp {{juego.precio}} $</li>
    <li> <u> STOCK</u>: &nbsp &nbsp {{juego.stock}} Uni. </li>
    </div>
    {% endfor %}

</ul>
</div>
{% endif %}

</body>
</html>

{% endblock %}