{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    
    <div>
        <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
        <h4 class="catalogo-precio, font-pixelart" align="left" style="color:#2e82ff ;">SERVICIOS: </h4>
            <br>
            <br>
        
            
            {%for servicio in servicios %}
            
            
                <div class="fila" style="justify-content:space-around;">
                    <div>
                    <h5 style="text-justify: inherit;">
                    <p class ="catalogo, font-pixelart" align="center" style="color:azure;">{{servicio.servicio}}</p>
                    <p class ="catalogo-precio" align="center">{{servicio.precio}} $</p>
                    {% if servicio.imagen %}
                    
                    <p class ="catalogo" align="center"> <img src="{{servicio.imagen.url}}" alt="" style="width: 300px; height: 180px;"> </p>
                    {% endif %}
                    </h5>
                     <!--Agrego boton de compra-->
                    <div class="boton-comprar" style="justify-content: center;">
                    <p>COMPRAR</p>
                    </div>
                    </div>
                </div>
            
            
                
            {% endfor %}
         
        </div>
    
      

  

{% endblock %}