{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios_List</title>
    <link href="{%static 'AppCoder/css/styles.css' %}" rel="stylesheet" />
    <link href="http://fonts.cdnfonts.com/css/8bit-wonder" rel="stylesheet">
</head>

<header class="masthead-juegoFormulario">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="font-pixelart">Servicios admin</h1>
                    <!-- Signup form-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                   
                </div>
            </div>
        </div>
    </div>
</header>

<body class="catalogo">

    <h1>Servicios de Tienda 8BITsales</h1>
    <ul>
        {% for servicio in object_list %}

            <li>
                <p>NOMBRE: {{ servicio.servicio }} </p>
                <p> 
                    <a href="{% url 'Detail' servicio.id %}">Ver</a> | 
                    <a href="{% url 'Edit' servicio.id %}">Editar</a> | 
                    <a href="{% url 'Delete' servicio.id %}">Borrar</a> 
                
                </p> 
            </li>

        {% endfor %}
    </ul>

    <a href="{% url 'New'  %}">Nuevo</a> 

    <br>

    <button>
        <a href="../servicios">Volver</a>
    </button>

</body>

<br>
<br>
<br>
<br>
<br>
<br>
<br>


</html>


