<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios_List</title>
</head>
<body>

    <h1>Servicios de Tienda 8BITsales</h1>
    <ul>
        {% for servicio in object_list %}

            <li>
                <p>NOMBRE: {{ servicio.servicio }} </p>
                <p> 
                    <a href="{% url 'Detail' servicio.id %}">Ver</a> | 
                    <a href="{% url 'Edit' servicio.id %}">Editar</a> | 
                    <a href="{% url 'Delete' servicio.id %}">Borrar</a> 
                
                </p> 
            </li>

        {% endfor %}
    </ul>

    <a href="{% url 'New'  %}">Nuevo</a> | 

    <br>

    <button>
        <a href="../servicios">Volver</a>
    </button>

</body>
</html>
