{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    
    <div>
        <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
            <h3 style="color:rgb(255, 255, 255); vertical-align: 13px; font-family: 'Montserrat', sans-serif; font-weight: bolder; font-size: 20px;" align="center"    >SERVICIOS </h3>

            <br>
            <br>
        
            
            {%for servicio in servicios %}
            
            
                <div class="fila" style="justify-content:space-around;">
                    <div style="padding-left:18px">
                    <h5 style="text-justify: inherit;">
                        {% if servicio.imagen %}
                    
                        <p class ="catalogo" align="center"> <img src="{{servicio.imagen.url}}" alt="" class="box" style="width: 300px; height: 180px;"> </p>
                        {% endif %}
                    <p class ="catalogo, font-catalogo" align="center" style="color:azure;">{{servicio.servicio}}</p>
                    <p class ="catalogo-precio" align="center">$ {{servicio.precio}} </p>
                    
                    </h5>
                     <!--Agrego boton de compra-->
                    <div class="boton-comprar" style="justify-content: center;">
                    <p>COMPRAR</p>
                    </div>
                    <br>
                    </div>
                </div>
            
            
                
            {% endfor %}
         
        </div>
    
      

  

{% endblock %}